.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    }
    .cabeçalho__menu-hamburguer {
        background-color: var(--branco);
        display: flex;
        justify-content: space-between;
    }
    